<?xml version="1.0"?>
<web-app>
	<servlet>
		<servlet-name>JAXRS</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>
				javax.ws.rs.Application
			</param-name>
			<param-value>
				gregbakos.webstore.application.StoreApplication
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAXRS</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
